<!-- {% load static %} -->
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <style>
             body {
      				font-family: Arial, Helvetica, sans-serif;
    
    			  }
			    * {
			      box-sizing: border-box;
			      font-size: 18px;
			    }
        	
	        	.strategies{
	        		font-size: 14px;
	        	}
			    .navbar { 
					margin-bottom: 10px;
					background-color: #000000;
					
				 }
			
				#naav a 
				{ 
				 color: #ffffff; 
				}
				 #naav li a 
				{ 
				color: #ffffff;
				 }
				 #rest
				 {
				 	margin-left: 10px;
				 }
        </style>
   </head>
		
   <body onload="setInterval(change,1000)">
     <nav class="navbar " id="naav" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sabertooth</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'clist' %}">Home</a></li>
          <li><a href="{% url 'manage' %}">Manage</a></li>
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
      </div>
  </nav>
  <div id="rest">


<!-- 
	{% for s in strat_list %}
	<div class="panel panel-default">
	 <div class="panel-body"><p id="{{forloop.counter}}"> {{forloop.counter}}</p></div>
	
	</div>
	{% endfor %} -->


	
	
	<table id="my_table" class="table">
	</table>

	<a  href="{% url 'revoke' task_id %}">reset </a>
	</div>

	
	<script>
		
		function updateProgress (progressUrl) {			
			fetch(progressUrl).then(function(response) {
				response.json().then(function(data) {

					var str = "";

					for(var key1 in data){
						str += "<tr><th>Strategy</th>";
						for(key2 in data[key1]){
							str += "<th>" + key2 +"</th>";
						}
						str += "</tr>";
						break;
					}

					for(var key1 in data){
						str += "<tr><th>"+key1+"</th>";
						for(key2 in data[key1]){
							str += "<td>" + data[key1][key2] +"</td>";
						}
						str += "</tr>";
					}

					document.getElementById("my_table").innerHTML = "<table class=\"table\">" + str +"</table>";
				});
			});		
		}
			
		function change(){			
					// windows.alert("here 1");			
					var progressUrl = '{% url "get_progress" task_id %}';  // django template usage		
					setTimeout(updateProgress, 0, progressUrl);											
				}
			
			// var progressUrl = '{% url "get_progress" task_id %}';  // django template usage		
			// setTimeout(updateProgress, 200, progressUrl);
			//document.getElementById("demo").innerHTML = 'Method End';
		
		
	</script>
</body>
</html>